<div id="auth" class="col-sm-4 col-sm-offset-4">
	<div>
        <form id="auth_form" ng-show="loginContainer">
            <div id="auth_input-container" class="form-group">
                <!--<label>User Name:</label>-->
                <input class="col-sm-offset-1 col-sm-10" type="text" placeholder="Username" ng-model="login.username" required autofocus>
            </div>
            <div id="auth_input-container" class="form-group">
                <!--<label>Email Address:</label>-->
                <input type="email" class="col-sm-offset-1 col-sm-10" placeholder="Email address" ng-model="login.email" required autofocus>
            </div>
            <div id="auth_input-container" class="form-group">
                <!--<label>Password:</label>-->
                <input type="password" class="col-sm-offset-1 col-sm-10" placeholder="Password" ng-model="login.password" required>
            </div>
            <div id="auth_input-container" class="form-group">
                <a href="" class="btn btn-lg btn-custom col-sm-offset-1 col-sm-10" ng-click="loginUser(login)">Submit Login</a>
            </div>
            <div id="auth_button-group" class="col-sm-4 col-sm-offset-4">
                <button id="auth_login-button" class="btn btn-custom col-sm-6" ng-click="setLoginContainer()">Login</button>
                <button id="auth_register-button" class="btn btn-custom col-sm-6" ng-click="setRegisterContainer()">Register</button>
            </div>
        </form>
        <form ng-show="registerContainer">
            <div id="auth_input-container" class="form-group">
                <!--<label>Email Address</label>-->
                <input type="email" class="col-sm-offset-1 col-sm-10" placeholder="Email address" ng-model="register.email" required autofocus>
            </div>
            <div id="auth_input-container" class="form-group">
                <!--<label>Password</label>-->
                <input type="password" class="col-sm-offset-1 col-sm-10" placeholder="Password" ng-model="register.password" required>
            </div>
            <div id="auth_input-container" class="form-group">
                <!--<label>Confirm Password</label>-->
                <input type="password" class="col-sm-offset-1 col-sm-10" placeholder="Confirm Password" ng-model="register.passwordconfirm" required>
            </div>
            <div id="auth_input-container" class="form-group">
                <!--<label>Username</label>-->
                <input type="text" class="col-sm-offset-1 col-sm-10" placeholder="Username" ng-model="register.username" required>
            </div>
            <div id="auth_register-link" class="form-group">
                <!--<a href="" class="btn btn-lg btn-custom col-sm-offset-1 col-sm-10" ng-click="registerUser(register)" ng-show="registerContainer">Submit Registration</a>-->
                <button id="auth_login-button" class="btn btn-custom col-sm-6" ng-click="registerUser(register)" ng-show="registerContainer">Submit Registration</button>

            </div>
        </form>
	</div>
</div> <!-- /container -->