<h3>Client Information:</h3>
<form>
    <div calss="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" placeholder="" ng-model="newItem.FirstName">
    </div>
    <div calss="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" placeholder="" ng-model="newItem.LastName">
    </div>
    <div calss="form-group">
        <label>Group Number</label>
        <input type="text" class="form-control" placeholder="" ng-model="newItem.GroupNumber">
    </div>
    <div calss="form-group">
        <label>Email</label>
        <input type="text" class="form-control" placeholder="" ng-model="newItem.Email">
    </div>
    <div calss="form-group">
        <label>Phone</label>
        <input type="text" class="form-control" placeholder="" ng-model="newItem.Phone">
    </div>
    <button type="button" class="btn btn-primary btn-lg col-xs-2 " ng-click="addNewItem()">Save Item</button>
</form>