<div class="row">
    <div id="home" class="col-sm-8 col-sm-offset-2">
        <header id="home-header">
            <h1>Survey Dashboard</h1>
        </header>
    </div>
    <select class="ui dropdown" name="quarter" ng-model="selectedQtr" ng-options="val as val for val in qtrs" required>
        <option value="">Choose an option</option>
    </select>
    <button id="timeperiod" class="btn btn-custom" ng-click="getSurveyItems(selectedQtr)">Get Quarter</button>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="request-tabstrip">
            <ul class="nav nav-tabs">
                <li ng-Class="{'active': isSubmitted}"><a ng-click="ChangeTab('Submitted');">Submitted</a></li>
                <li ng-Class="{'active': !isSubmitted}"><a ng-click="ChangeTab('NotSubmitted');">Not Submitted</a></li>
            </ul>
        </div>
        <div class="panel panel-default" id="survey-response-panel">
            <div class="panel-heading">Survey Responses</div>
            <div class="panel-body">
                <div class="row" ng-if="isSubmitted">
                    <a target="_blank" href="https://newbegininingcenter.azurewebsites.net/api/survey/csv/{{selectedQtr}}" style="float:right;">Export to Excel</a>
                    <!--<a target="_blank" href="/api/survey/csv/{{selectedQtr}}" style="float:right;">Export to Excel</a>-->
                </div>
                <div class="row">
                    <div class="table-responsive" ng-if="isSubmitted">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default"><i class="fa fa-search"></i></button>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Search for ..." ng-model="searchText">
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-key-info alert-success table-responsive-sm">
                            <thead>
                            <tr>
                                <td>Time Period</td>
                                <td>Client Name</td>
                                <td>Group#</td>
                                <td>Email</td>
                                <td>Date Submitted</td>
                                <td>Action</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in submittedItems | filter: searchText | orderBy: ['TimePeriod', 'LastName', 'FirstName']">
                                <td>{{item.TimePeriod }}</td>
                                <td>{{item.LastName + ", " + item.FirstName }}</td>
                                <td>{{item.GroupNumber }}</td>
                                <td>{{item.Email }}</td>
                                <td>{{item.TokenUsedDate }}</td>
                                <td>
                                    <!-- Button trigger modal-->
                                    <button type="button" class="btn fa fad fa-link" ng-click="viewResponse(item.Client_SID, item.TimePeriod)" data-toggle="modal" data-target="#modalSurveyResult1"></button>

                                    <!--Modal: modalSurveyResult-->
                                    <div class="modal fade top" id="modalSurveyResult1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                         aria-hidden="true" data-backdrop="true">
                                        <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
                                            <!--Content-->
                                            <div class="modal-content">
                                                <!--Body-->
                                                <div class="modal-body">
                                                    <div class="row d-flex justify-content-center align-items-center">

                                                        <h3>Survey Questions:</h3>
                                                        <table>
                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    Client Name:
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.LastName}}, {{survey.FirstName}}
                                                                </td>
                                                            </tr>
                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    Program#:
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.GroupNumber}}
                                                                </td>

                                                            </tr>
                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    Survey Period:
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.Question_Period}}
                                                                </td>

                                                            </tr>
                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    Have you lost additional weight?*
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.Q1}}
                                                                </td>

                                                            </tr>
                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    Have you maintained your weight since graduating the program?*
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.Q2}}
                                                                </td>

                                                            </tr>

                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    What is your current weight?
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.Q3}}
                                                                </td>

                                                            </tr>

                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    What is your height (in inches)?
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.Q4}}
                                                                </td>

                                                            </tr>

                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    Have you lost inches (waist) or decreased in clothing size(s)?
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.Q5}}
                                                                </td>

                                                            </tr>

                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    Blood Pressure?
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.Q6}}
                                                                </td>

                                                            </tr>

                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    Fasting Glucose/A1C?
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.Q7}}
                                                                </td>

                                                            </tr>

                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    Cholesterol?
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.Q8}}
                                                                </td>

                                                            </tr>

                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    Do you prepare meals in advance (food prep)?
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.Q9}}
                                                                </td>

                                                            </tr>

                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    Do you exercise 2 to 5 times per week?
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.Q10}}
                                                                </td>

                                                            </tr>

                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    Are you following the eating habits most of the time? Select an option
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.Q11}}
                                                                </td>

                                                            </tr>

                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    Have you decreased or stopped taking any medications? If YES, please list what medications below.
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.Q12}}
                                                                </td>

                                                            </tr>

                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    Are you currently taking any medications?
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.Q13}}
                                                                </td>

                                                            </tr>

                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    Are you attending Reward Group Classes on Mondays and Wednesdays?
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.Q14}}
                                                                </td>

                                                            </tr>

                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    Are you attending Saturday Bonus Classes?
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.Q15}}
                                                                </td>

                                                            </tr>

                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    Do you need a follow-up call?
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.Q16}}
                                                                </td>

                                                            </tr>

                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    If yes, please list the best phone number and/or e-mail address we can reach out to:
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.Q17}}
                                                                </td>

                                                            </tr>

                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    What was the most challenging part of the program for you?
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.Q18}}
                                                                </td>

                                                            </tr>

                                                            <tr calss="form-group">
                                                                <td width="75%" style="overflow-wrap:break-word">
                                                                    Share Your Success! Have a success story of how you implemented what you learned in class at The New Beginnings Center? Did it positively impact you, your family, and/or your life? Please share this with us so that we can use testimonies like yours to help us with recruiting, fundraising, and more!
                                                                </td>
                                                                <td width="25%">
                                                                    {{survey.Q19}}
                                                                </td>

                                                            </tr>
                                                        </table>

                                                        <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Close</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/.Content-->
                                        </div>
                                    </div>
                                    <!--Modal: modalSurveyResult-->
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table-responsive" ng-if="!isSubmitted">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default"><i class="fa fa-search"></i></button>
                                </span>
                                <input type="text" class="form-control" placeholder="Search for ..." ng-model="searchText">
                            </div>
                        </div>
                    </div>
                    <table class="table table-striped table-key-info alert-success table-responsive-sm">
                        <thead>
                        <tr>
                            <td>Time Period</td>
                            <td>Client Name</td>
                            <td>Group#</td>
                            <td>Email</td>
                            <td>Action</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in unsubmitteditems | filter: searchText | orderBy: ['TimePeriod', 'LastName', 'FirstName']">
                            <td>{{item.TimePeriod }}</td>
                            <td>{{item.LastName + ", " + item.FirstName }}</td>
                            <td>{{item.GroupNumber }}</td>
                            <td>{{item.Email }}</td>
                            <td>
                                <!--<button class="btn fa fa-envelope-o" ng-if="!item.TokenExpired" ng-click="resendLinkEmail(item.Client_SID)"></button>-->
                                <button class="btn fa fa-paperclip" ng-if="!item.TokenExpired" ng-click="resendLink(item.Client_SID)"></button>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
