﻿<!-- Top-->
<!-- Page Banner-->
<div class="page_banner">
    <p>Survey Dashboard</p>
</div>
    <div class="home_container">

    <!-- Survey Response Table -->
    <div class="home_survey-response-container">
        <div class="home_survey-stats-right">
            <div>
                <div class="home_global-survey-status">Survey App Status</div>
            </div>
            <div class="home_toggle-container">
                <p>Off</p>
                <button class="home_toggle-button" ng-click="setAppStatusToggle(showAppStatus)">
                    <img src="../../Content/images/toggle_on_white.png" ng-if="showAppStatus === true" />
                    <img src="../../Content/images/toggle_off_white.png" ng-if="showAppStatus === false" />
                </button>
                <p>On</p>
            </div>
        </div>
    </div>

        <div class="home_survey-response-container">
            <div class="home_survey-stats-container">
                <div class="home_survey-stats-left">
                    <div>
                        <select class="ui dropdown" id="quarter-dropdown" name="quarter" ng-model="selectedQtr" ng-options="qtr.Time_Period as qtr.Time_Period for qtr in qtrs" required>
                            <option value="">Choose an option</option>
                        </select>
                        <button id="timeperiod" class="surveyResponse_button" ng-click="getSurveyItems(selectedQtr)">Get Quarter</button>
                    </div>
                </div>

                <div class="home_survey-stats-right">
                    <div>
                        <div class="home_stat-counter">{{Clients_Completed}}</div>
                        <div>% Clients Completed</div>
                    </div>
                    <div>
                        <div class="home_stat-counter">{{Days_Until_Deadline}}</div>
                        <div>Days Until Deadline</div>
                    </div>
                </div>
            </div>

            <div class="home_submit-container" id="request-tabsdivip">
                <div class="home_survey-response-header">Survey Responses</div>
                <div class="home_survey-options">
                    <div class="home_submit-tabs">
                        <!-- Submitted & Not Submitted Tabs-->
                        <div class="home_submit-tabs-left">
                            <div ng-Class="{'active': isSubmitted}" ng-click="ChangeTab('Submitted');">
                                <div class="home_submit-tabs-text">
                                    Submitted
                                    <div class="home_submit-tabs-items">{{survey.submittedItems}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="home_submit-tabs-right">
                            <div ng-Class="{'active': !isSubmitted}" ng-click="ChangeTab('NotSubmitted');">
                                <div class="home_submit-tabs-text">
                                    Not Submitted
                                    <div class="home_submit-tabs-items">{{survey.unsubmittedItems}}</div>
                                </div>
                            </div>
                        </div> <!-- End Submitted & Not Submitted Tabs -->
                    </div>
                    <!-- Export to Excel Button -->
                    <div class="home_survey-response-export-container" ng-if="isSubmitted">
                        <button ng-click="exportExcel(selectedQtr)" class="export-button">Export to CSV</button>
                    </div> <!-- End Export to Excel Button -->
                </div>
            </div>

            <!-- Error Container -->
            <!-- TODO: Make this its own component,
            add a conditional CSS class for colors (e.g., red and green)
            and reuse for success/failures/other -->
            <div class="auth_error-container" ng-show="errorMessage">
                <div class="auth_error">
                    <div class="auth_error-text">
                        <p>{{errorMessage}}</p>
                    </div>
                    <div class="auth_error-close">
                        <img src="../../Content/images/close-icon-black.png" ng-click="closeAlert()" />
                    </div>
                </div>
            </div> <!--End Error Container-->
            <!-- Loading Spinner Container-->
            <div class="spinner_container" ng-show="loading === true">
                <img src="../../Content/images/ajax-loader.gif" />
            </div> <!-- End Spinner-->

            <div class="home_table-responsive" ng-if="loading === false && errorMessage === null">
                <div ng-if="isSubmitted">
                    <!-- Search Input & Button -->
                    <div class="home_search-input">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for ..." ng-model="searchText">
                            <span class="input-group-btn">
                                <button class="btn btn-default"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div> <!-- End Search & Input Button-->
                    <table class="table table-striped table-responsive" id="home_survey-response-results-table">
                        <thead>
                            <tr class="home_survey-response-header-row">
                                <th>Time Period</th>
                                <th>Client Name</th>
                                <th>Group#</th>
                                <th>Email</th>
                                <th>Date Submitted</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in submittedItems | filter: searchText | orderBy: ['TimePeriod', 'LastName', 'FirstName']" class="home_survey-response-result-row">
                                <td>{{item.TimePeriod }}</td>
                                <td>{{item.LastName + ", " + item.FirstName }}</td>
                                <td>{{item.GroupNumber }}</td>
                                <td>{{item.Email }}</td>
                                <td>{{item.TokenUsedDate }}</td>
                                <td>
                                    <!-- Button trigger modal-->
                                    <button type="button" class="btn fa fad fa-link" ng-click="viewResponse(item.Client_SID, item.TimePeriod)" data-toggle="modal" data-target="#modalSurveyResult1"></button>

                                    <!--Modal: modalSurveyResult-->
                                    <div class="modal fade top" id="modalSurveyResult1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                         aria-hidden="true" data-backdrop="true">
                                        <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
                                            <!--Content-->
                                            <div class="modal-content">
                                                <!--Header-->
                                                <div class="modal-header">
                                                    <h3 class="modal-title">Survey Response<button type="button" class="close btn-success" data-dismiss="modal"><strong>X</strong></button></h3>
                                                </div>
                                                <!--Body-->
                                                <div class="modal-body">
                                                    <div class="row d-flex justify-content-center align-items-center">

                                                        <div style="padding: 5px">
                                                            <div class="form-group">
                                                                <div width="75%" style="overflow-wrap: break-word">
                                                                    Client Name:
                                                                </div>
                                                                <div width="25%">
                                                                    {{survey.LastName}}, {{survey.FirstName}}
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div width="75%" style="overflow-wrap: break-word">
                                                                    Program#:
                                                                </div>
                                                                <div width="25%">
                                                                    {{survey.GroupNumber}}
                                                                </div>

                                                            </div>
                                                            <div class="form-group">
                                                                <div width="75%" style="overflow-wrap: break-word">
                                                                    Survey Period:
                                                                </div>
                                                                <div width="25%">
                                                                    {{survey.Question_Period}}
                                                                </div>

                                                            </div>
                                                            <div class="form-group">
                                                                <div width="75%" style="overflow-wrap: break-word">
                                                                    1. Are you following the nutritional habits you learned in the New Beginnings program most (70% or more) of the time?
                                                                </div>
                                                                <div width="25%">
                                                                    {{survey.Q1}}
                                                                </div>

                                                            </div>
                                                            <div class="form-group">
                                                                <div width="75%" style="overflow-wrap: break-word">
                                                                    2. Do you prepare meals in advance?
                                                                </div>
                                                                <div width="25%">
                                                                    {{survey.Q2}}
                                                                </div>

                                                            </div>

                                                            <div class="form-group">
                                                                <div width="75%" style="overflow-wrap: break-word">
                                                                    3. Do you exercise 2-5 times per week?
                                                                </div>
                                                                <div width="25%">
                                                                    {{survey.Q3}}
                                                                </div>

                                                            </div>

                                                            <div class="form-group">
                                                                <div width="75%" style="overflow-wrap: break-word">
                                                                    4. Have you maintained your weight since graduating from New Beginnings?
                                                                </div>
                                                                <div width="25%">
                                                                    {{survey.Q4}}
                                                                </div>

                                                            </div>

                                                            <div class="form-group">
                                                                <div width="75%" style="overflow-wrap: break-word">
                                                                    5. Have you lost additional weight after graduating from New Beginnings?
                                                                </div>
                                                                <div width="25%">
                                                                    {{survey.Q5}}
                                                                </div>

                                                            </div>

                                                            <div class="form-group">
                                                                <div width="75%" style="overflow-wrap: break-word">
                                                                    6. Have you lost inches around your waist or decreased your clothing size since graduating from New Beginnings?
                                                                </div>
                                                                <div width="25%">
                                                                    {{survey.Q6}}
                                                                </div>

                                                            </div>

                                                            <div class="form-group">
                                                                <div width="75%" style="overflow-wrap: break-word">
                                                                    7. What is your current weight?
                                                                </div>
                                                                <div width="25%">
                                                                    {{survey.Q7}}
                                                                </div>

                                                            </div>

                                                            <div class="form-group">
                                                                <div width="75%" style="overflow-wrap: break-word">
                                                                    8. If known, your most recent Blood Pressure reading? 
                                                                </div>
                                                                <div width="25%">
                                                                    {{survey.Q8}}
                                                                </div>

                                                            </div>

                                                            <div class="form-group">
                                                                <div width="75%" style="overflow-wrap: break-word">
                                                                    9. If known, your most recent Fasting Glucose/A1c?
                                                                </div>
                                                                <div width="25%">
                                                                    {{survey.Q9}}
                                                                </div>

                                                            </div>

                                                            <div class="form-group">
                                                                <div width="75%" style="overflow-wrap: break-word">
                                                                    10. If known, your most recent Cholesterol reading?
                                                                </div>
                                                                <div width="25%">
                                                                    {{survey.Q10}}
                                                                </div>

                                                            </div>

                                                            <div class="form-group">
                                                                <div width="75%" style="overflow-wrap: break-word">
                                                                    11. Are you currently taking any medications? 
                                                                </div>
                                                                <div width="25%">
                                                                    {{survey.Q11}}
                                                                </div>

                                                            </div>

                                                            <div class="form-group">
                                                                <div width="75%" style="overflow-wrap: break-word">
                                                                    12. Have you decreased or stop taking medications since graduating from New Beginnings?
                                                                </div>
                                                                <div width="25%">
                                                                    {{survey.Q12}}
                                                                </div>

                                                            </div>

                                                            <div class="form-group">
                                                                <div width="75%" style="overflow-wrap: break-word">
                                                                    13. If you have stopped taking medications or reduced dosages, please list which medications and if your dosage has been reduced or eliminated:
                                                                </div>
                                                                <div width="25%">
                                                                    {{survey.Q13}}
                                                                </div>

                                                            </div>

                                                            <div class="form-group">
                                                                <div width="75%" style="overflow-wrap: break-word">
                                                                    14. Are you attending Rewards Classes on Mondays and Wednesdays at 6:00pm?
                                                                </div>
                                                                <div width="25%">
                                                                    {{survey.Q14}}
                                                                </div>

                                                            </div>

                                                            <div class="form-group">
                                                                <div width="75%" style="overflow-wrap: break-word">
                                                                    15. Are you attending Bonus Classes on Saturdays at 10:00am?
                                                                </div>
                                                                <div width="25%">
                                                                    {{survey.Q15}}
                                                                </div>

                                                            </div>

                                                            <div class="form-group">
                                                                <div width="75%" style="overflow-wrap: break-word">
                                                                    16. If you would like a follow-up call from a coach, please provide your phone number:
                                                                </div>
                                                                <div width="25%">
                                                                    {{survey.Q16}}
                                                                </div>

                                                            </div>

                                                        </div>

                                                        <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Close</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/.Content-->
                                        </div>
                                    </div>
                                    <!--Modal: modalSurveyResult-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div ng-if="!isSubmitted">
                    <!-- Search Input & Button -->
                    <div class="home_search-input">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search for ..." ng-model="searchText">
                            <span class="input-group-btn">
                                <button class="btn btn-default"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div> <!-- End Search & Input Button-->
                    <table class="table table-striped table-responsive" id="home_survey-response-results-table">
                        <thead>
                            <tr class="home_survey-response-header-row">
                                <th>Time Period</th>
                                <th>Client Name</th>
                                <th>Group#</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in unsubmitteditems | filter: searchText | orderBy: ['TimePeriod', 'LastName', 'FirstName']">
                                <td>{{item.TimePeriod }}</td>
                                <td>{{item.LastName + ", " + item.FirstName }}</td>
                                <td>{{item.GroupNumber }}</td>
                                <td>{{item.Email }}</td>
                                <td>
                                    <button type="button" class="btn fa fa-paperclip" ng-if="!item.TokenExpired" ng-click="resendLink(item)" data-toggle="modal" data-target="#modalSurveyLink1"></button>

                                    <!--Modal: modalSurveyLink-->
                                    <div class="modal fade top" id="modalSurveyLink1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                         aria-hidden="true" data-backdrop="true">
                                        <div class="modal-dialog modal-frame modal-top modal-notify modal-info" role="document">
                                            <!--Content-->
                                            <div class="modal-content">
                                                <!--Header-->
                                                <div class="modal-header">
                                                    <h3 class="modal-title">Survey Link<button type="button" class="close btn-success" data-dismiss="modal"><strong>X</strong></button></h3>
                                                </div>
                                                <!--Body-->
                                                <div class="modal-body">
                                                    <div class="row d-flex justify-content-center align-items-center">

                                                        <div style="padding: 5px">
                                                            <div class="form-group">
                                                                <h4>Client: {{surveyLink.Client}}</h4>
                                                                <div style="overflow-wrap: break-word">
                                                                    {{surveyLink.Link}}
                                                                </div>
                                                            </div>
                                                            <button type="button" class="btn btn-outline-primary waves-effect" ng-click="copyToClipboard(surveyLink.Link)">Copy Link</button>
</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/.Content-->
                                        </div>
                                    </div>
                                    <!--Modal: modalSurveyLink-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
