<nav class="navbar navbar-default" id="navbar-default" ng-controller="NavCtrl">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" ng-show="user">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="/Content/images/newBeginnings.png" width="150" height="50" alt="">
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar">
            <div class="navbar_link-container" ng-repeat="thing in navItems" ng-show="user">
                <p><a class="navbar_link" ng-click="loadPartials(thing.url)">{{thing.name}}</a></p>
            </div>
            <div class="navbar_link-container" ng-show="user">
                <p><a class="navbar_link" ng-click="loadPartials('/logout')">Logout {{user.userName}}</a></p>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
