<h3>Survey Questions:</h3>
<table>
    <tr>
        <td>
            Client Name:
        </td>
        <td>
            {{survey.LastName}}, {{survey.FirstName}}
        </td>
    </tr>
    <tr class="form-group">
        <td width="30%" style="overflow-wrap:break-word">
            Program#:
        </td>
        <td width="70%">
            {{survey.GroupNumber}}
        </td>

    </tr>    
    <tr class="form-group">
        <td width="30%" style="overflow-wrap:break-word">
            Survey Period:
        </td>
        <td width="70%">
            {{survey.Question_Period}}
        </td>

    </tr>
    <tr class="form-group">
        <td width="30%" style="overflow-wrap:break-word">
            Have you lost additional weight?*
        </td>
        <td width="70%">
            {{survey.Q1}}
        </td>

    </tr>
    <tr class="form-group">
        <td width="30%" style="overflow-wrap:break-word">
            Have you maintained your weight since graduating the program?*
        </td>
        <td width="70%">
            {{survey.Q2}}
        </td>

    </tr>

    <tr class="form-group">
        <td width="30%" style="overflow-wrap:break-word">
            What is your current weight?
        </td>
        <td width="70%">
            {{survey.Q3}}
        </td>

    </tr>

    <tr class="form-group">
        <td width="30%" style="overflow-wrap:break-word">
            What is your height (in inches)?
        </td>
        <td width="70%">
            {{survey.Q4}}
        </td>

    </tr>

    <tr class="form-group">
        <td width="30%" style="overflow-wrap:break-word">
            Have you lost inches (waist) or decreased in clothing size(s)?
        </td>
        <td width="70%">
            {{survey.Q5}}
        </td>

    </tr>

    <tr class="form-group">
        <td width="30%" style="overflow-wrap:break-word">
            Blood Pressure?
        </td>
        <td width="70%">
            {{survey.Q6}}
        </td>

    </tr>

    <tr class="form-group">
        <td width="30%" style="overflow-wrap:break-word">
            Fasting Glucose/A1C?
        </td>
        <td width="70%">
            {{survey.Q7}}
        </td>

    </tr>

    <tr class="form-group">
        <td width="30%" style="overflow-wrap:break-word">
            Cholesterol?
        </td>
        <td width="70%">
            {{survey.Q8}}
        </td>

    </tr>

    <tr class="form-group">
        <td width="30%" style="overflow-wrap:break-word">
            Do you prepare meals in advance (food prep)?
        </td>
        <td width="70%">
            {{survey.Q9}}
        </td>

    </tr>

    <tr class="form-group">
        <td width="30%" style="overflow-wrap:break-word">
            Do you exercise 2 to 5 times per week?
        </td>
        <td width="70%">
            {{survey.Q10}}
        </td>

    </tr>

    <tr class="form-group">
        <td width="30%" style="overflow-wrap:break-word">
            Are you following the eating habits most of the time? Select an option
        </td>
        <td width="70%">
            {{survey.Q11}}
        </td>

    </tr>

    <tr class="form-group">
        <td width="30%" style="overflow-wrap:break-word">
            Have you decreased or stopped taking any medications? If YES, please list what medications below.
        </td>
        <td width="70%">
            {{survey.Q12}}
        </td>

    </tr>

    <tr class="form-group">
        <td width="30%" style="overflow-wrap:break-word">
            Are you currently taking any medications?
        </td>
        <td width="70%">
            {{survey.Q13}}
        </td>

    </tr>

    <tr class="form-group">
        <td width="30%" style="overflow-wrap:break-word">
            Are you attending Reward Group Classes on Mondays and Wednesdays?
        </td>
        <td width="70%">
            {{survey.Q14}}
        </td>

    </tr>

    <tr class="form-group">
        <td width="30%" style="overflow-wrap:break-word">
            Are you attending Saturday Bonus Classes?
        </td>
        <td width="70%">
            {{survey.Q15}}
        </td>

    </tr>

    <tr class="form-group">
        <td width="30%" style="overflow-wrap:break-word">
            Do you need a follow-up call?
        </td>
        <td width="70%">
            {{survey.Q16}}
        </td>

    </tr>

    <tr class="form-group">
        <td width="30%" style="overflow-wrap:break-word">
            If yes, please list the best phone number and/or e-mail address we can reach out to:
        </td>
        <td width="70%">
            {{survey.Q17}}
        </td>

    </tr>

    <tr class="form-group">
        <td width="30%" style="overflow-wrap:break-word">
            What was the most challenging part of the program for you?
        </td>
        <td width="70%">
            {{survey.Q18}}
        </td>

    </tr>

    <tr class="form-group">
        <td width="30%" style="overflow-wrap:break-word">
            Share Your Success! Have a success story of how you implemented what you learned in class at The New Beginnings Center? Did it positively impact you, your family, and/or your life? Please share this with us so that we can use testimonies like yours to help us with recruiting, fundraising, and more!
        </td>
        <td width="70%">
            {{survey.Q19}}
        </td>

    </tr>
</table>

